body {
  padding: 25px;
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 1400% 1400%;
  animation: rainbow 20s ease infinite;
  color: white;
  font-family: sans-serif;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.box {
  background-color: orange;
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.title {
  color: white;
  text-shadow: 2px 2px 5px black;
}
